---
---

$brand-color: #AD9753;
$text-color: #F2EBD9;
$background-color: #0E0F10;
$grey-color: #8b949e;
$orange-color: #6C7C44;
$code-background-color: #14161a;
$link-base-color: #AD9753;
$link-visited-color: #c4ab6a;
$content-width: 1100px;

@import "minima";
@import "custom";
